/* RESET CSS */

body{
  margin: 0;
}

.openedMobileMenu{
  overflow-y: hidden;
}

/*
 1. Zmienne
 2. Górny pasek - style ogólne
 3. Logo - lewa strona górnego paska
 4. Menu - prawa strona gównego paska
 4.1 Menu mobilne
 4.2 Menu desktopowe
 5. BBQ - przycisk menu mobilnego

--------------------------------------------- */

/* 1. Zmienne
--------------------------------------------- */
:root{
  --white-dev: #fdfdfd;
  --dark-blue: #0F3444;
  --light-green: #34e89e;
  --dark-green: #12b672;
}

/* 2. Górny pasek - style ogólne
--------------------------------------------- */
.site-header{
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
}

@media screen and (min-width: 768px){
  background-color: var(--dark-blue);
}

@media screen and (min-width: 768px){
  .site-header{
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--dark-blue);
  }
}


/* 3. Logo - lewa strona górnego paska
--------------------------------------------- */
.headerWrap{
  line-height: 0;
  padding: 0.6rem;
  background-color: var(--dark-blue);
}
.headerWrap a{
  display: inline-block;
  line-height: 0;
}
.headerWrap .site-branding img{
  max-width: 100px;
  max-height: 100px;
}

/* 4. Menu - prawa strona gównego paska
--------------------------------------------- */
.main-navigation{
  position: relative;
  background-color: var(--dark-blue);
}
/* general menu styles */
ul.menu-1{
  list-style-type: none;
}
.menu-top .menu-1 li a{
  /* padding: 1rem 2rem; */
  color: var(--white-dev);
  background-color: #164357; // pomocniczy kolor
}

/* menu mobile */
.main-navigation{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.main-navigation.mobile{
  visibility: visible;
  opacity: 1;
  transition: 1s;
}
.main-navigation ul{
  padding: 0;
}
.main-navigation ul > li {
  display: flex;
  flex-direction: column;
}
.main-navigation ul > li[aria-expanded="false"] > a:after{
    border: inset 6px;
    content: '';
    display: inline-block;
    margin: 10px 10px 0 10px;
    border-top-style: solid;
    border-color: #fff transparent transparent;
}
.main-navigation ul > li[aria-expanded="true"] > a:after{
  transform: rotate(180deg);
  border: inset 6px;
  content: '';
  display: inline-block;
  margin: 5px 10px 10px 10px;
  border-top-style: solid;
  border-color: #fff transparent transparent;
  transition: 1s;
}

.main-navigation ul > li > a{
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.8rem;
  text-decoration: none;
}

.submenu{
  list-style-type: none;
}
li[aria-expanded="false"] .submenu{
  display: none;
}
li[aria-expanded="true"] .submenu{
  display: block;
}
.main-navigation .submenu > li > a{
  background-color: #1e5b75;
}


/* .main-navigation .menu-1 li > a{
  display: block;
  padding: 0.4rem;
  font-size: 1.4rem;
  text-decoration: none;
} */

/* .main-navigation .sub-menu{
  display: none;
} */


/* menu desktop */

/* @media screen and (min-width: 768px){
  .main-navigation{
    visibility: visible;
    opacity: 1;
  }
  .menu-top{
    position: relative;
    display: block;
    height: 100%;
  }
  .menu-top .menu-1{
    padding: 0;
    margin: 0;
  }
  .menu-top .menu-1 li{
    line-height: normal;
    height: 100%;
  }
  .menu-top .menu-1 li a{
    display: flex;
    height: 100%;
    padding: 0 1rem;
    align-items: center;
    text-decoration: none;
  }
  .menu-top .menu-1 > li:hover a{
    background-color: #34e89e;
  }

  ul.menu-1{
    display: inline-flex;
    flex-direction: row;
    height: 100%;
    align-items: stretch;
  }

  /* Sub-menu */
  /* ul.sub-menu{
    display: none;
  }

  ul.menu-1 li.child:hover > ul.sub-menu{
    position: absolute;
    display: block;
    padding: 0;
  }

  ul.sub-menu > li{
    list-style-type: none;
  }
  ul.menu-1 ul.sub-menu > li > a{
    padding: 0.4rem 1rem;
  }
  ul.menu-1 ul.sub-menu li:hover a{
    background-color: #12b672;
  } 
} */

/* 5. BBQ - przycisk menu mobilnego
--------------------------------------------- */
@media screen and (min-width: 768px){

  .bbq{
    display: none;
  }

}
.bbq {
  position: absolute;
  z-index: 2;
  top: 14px;
  right: 1rem;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.bbq-bar{
  position: absolute;
  top: 50%;
  right: 0;
  width: 40px;
  height: 4px;
  transform: translateY(-50%);
  transition: 0.4s;
  background-color: #fcfcfc;
}
.bbq-bar:before{
  top: -12px;
}
.bbq-bar:after{
  top: 12px;
}
.bbq-bar:before,
.bbq-bar:after{
  content: '';
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: #fcfcfc;
  transition: 0.4s;
}

/* Animacja */
.bbq-bar.active-btn{
  background-color:rgba(0,0,0,0);
}
.bbq-bar.active-btn:before{
  top: 0;
  transform: rotate(45deg);
}
.bbq-bar.active-btn:after{
  top: 0;
  transform: rotate(135deg);
}
