/* RESET CSS */

body{
  margin: 0;
}

/*
 1. Zmienne
 2. Górny pasek - style ogólne
 3. Logo - lewa strona górnego paska
 4. Menu - prawa strona gównego paska
 5. BBQ - przycisk menu mobilnego

--------------------------------------------- */

/* 1. Zmienne
--------------------------------------------- */
:root{
  --white-dev: #fdfdfd;
  --dark-blue: #0F3444;
  --light-green: #34e89e;
  --dark-green: #12b672;
}

/* 2. Górny pasek - style ogólne
--------------------------------------------- */
.site-header{
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #0F3444;
}

/* 3. Logo - lewa strona górnego paska
--------------------------------------------- */
.headerWrap{
  line-height: 0;
  padding-top: 0.4rem;
  padding-left: 0.4rem;
}
.headerWrap a{
  display: inline-block;
  line-height: 0;
}
.headerWrap .site-branding img{
  max-width: 100px;
  max-height: 100px;
}

/* 4. Menu - prawa strona gównego paska
--------------------------------------------- */
.main-navigation{
  position: relative;
}

.menu-top{ /* menu mobile */

}

/* 5. BBQ - przycisk menu mobilnego
--------------------------------------------- */

.bbq {
  position: fixed;
  top: 0.6rem;
  right: 1rem;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.bbq-wrapp{
  position: relative;
  display: block;
  width: 40px;
  height: 35px;
}
.bbq-bar{
  position: absolute;
  top: 0;
  right: 0;
  height: 4px;
  width: 40px;
  background-color: #fff;
}
.bbq-bar-one{
  top: 20%;
  transform: translateY(-20%);
}
.bbq-bar-two{
  top: 50%;
  transform: translateY(-50%);
}
.bbq-bar-three{
  top: 80%;
  transform: translateY(-80%);
}
