/* RESET CSS */

body{
  margin: 0;
}

/*
 1. Zmienne
 2. Górny pasek - style ogólne
 3. Logo - lewa strona górnego paska
 4. Menu - prawa strona gównego paska
 5. BBQ - przycisk menu mobilnego

--------------------------------------------- */

/* 1. Zmienne
--------------------------------------------- */
:root{
  --white-dev: #fdfdfd;
  --dark-blue: #0F3444;
  --light-green: #34e89e;
  --dark-green: #12b672;
}

/* 2. Górny pasek - style ogólne
--------------------------------------------- */
.site-header{
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #0F3444;
}

/* 3. Logo - lewa strona górnego paska
--------------------------------------------- */
.headerWrap{
  line-height: 0;
  padding-top: 0.4rem;
  padding-left: 0.4rem;
}
.headerWrap a{
  display: inline-block;
  line-height: 0;
}
.headerWrap .site-branding img{
  max-width: 100px;
  max-height: 100px;
}

/* 4. Menu - prawa strona gównego paska
--------------------------------------------- */
.main-navigation{
  position: relative;
}

.menu-top{ /* menu mobile */

}

/* 5. BBQ - przycisk menu mobilnego
--------------------------------------------- */

.bbq {
  position: fixed;
  top: 0.6rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.bbq-bar{
  position: absolute;
  top: 50%;
  right: 0;
  width: 50px;
  height: 6px;
  transform: translateY(-50%);
  transition: 0.4s;
  background-color: #fcfcfc;
}
.bbq-bar:before{
  top: -16px;
}
.bbq-bar:after{
  top: 16px;
}
.bbq-bar:before,
.bbq-bar:after{
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background-color: #fcfcfc;
  transition: 0.4s;
}

/* Animacja */
.bbq-bar.active-btn{
  background-color:rgba(0,0,0,0);
}
.bbq-bar.active-btn:before{
  top: 0;
  transform: rotate(45deg);
}
.bbq-bar.active-btn:after{
  top: 0;
  transform: rotate(135deg);
}